.categories {
  width: 320px;
  margin: 0 auto;
  border: 1px solid rgb(7, 6, 100);
  background-color: rgb(167, 222, 238);//временно для разметки

  .categories__list {
    padding: 0;
  }

  .categories__item {
    min-width: 280px;
    background-color: @color-background;
    list-style: none;
    height: 265px;
    margin: 20px;
  }

  h2 {
    font-family: @font-family;
    font-size: @font-size--h2;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 36px;
  }

  .categories__description {
    font-family: @font-family-text;
    color: @text-color-grey;
    font-size: 14px;
    line-height: 18px;
  }

  .categories__button {
    color: @text-color;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @tablet-width) {
  .categories {
    width: 768px;
    min-height: 770px; //временно для разметки

    .categories__item {
      margin: 30px;
    }

    h2 {
      font-size: @font-size--h1;
    }
  }
}

@media (min-width: @desktop-width) {
  .categories {
    width: 1440px;
    min-height: 430px; //временно для разметки

    .categories__list {
      display: flex;
      width: 1300px;
      margin: 0 70px;
    }

    .categories__item {
      width: 570px;
      height: 370px;
      margin: 40px;
    }
  }
}
