.categories {
  width: 320px;
  margin: 0 auto;
  border: 1px solid rgb(7, 6, 100);

  .categories__list {
    padding: 0;
  }

  li {
    background-color: @color-background;
    list-style: none;
  }

  h2 {
    font-family: @font-family;
    font-size: @font-size--h2;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 36px;
  }

  .categories__description {
    font-family: @font-family-text;
    color: @text-color-grey;
    font-size: 14px;
    line-height: 18px;
  }

  .categories__button {
    color: @text-color;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
  }
}
