.contacts {
  width: 320px;
  margin: 0 auto;
  border: 1px solid red;

  .contacts__title {
    font-family: @font-family;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
  }

  .contacts__text {
    font-family: @font-family-text;
    color: @text-color-grey;
    font-size: 14px;
    text-transform: none;
    line-height: 20px;
  }
}
