.first-screen {
  width: 320px;
  height: 485px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;

  h1 {
    font-family: @font-family;
    font-size: @font-size--h1;
    line-height: 36px;
    font-weight: 400;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-color: #65a93c;
    padding-bottom: 230px;
    margin: 0;
  }

  .first-screen__slogan {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
  }

  .first-screen__image {
    margin-top: -180px;
  }
}
