.header {
  width: 100%;
  max-height: 265px; //временно для разметки
  .wrapper;
}

@media (min-width: @tablet-width) {
  .header {
    min-height: 100px; //временно для разметки
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .header {
    min-height: 130px; //временно для разметки
    margin: 0 auto;
  }
}
