.main-nav {
  color: @text-color;
  font-family: @font-family;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: @text-color;
    font-weight: 500;
  }
  .main-nav__list {
list-style: none;
  }
}
