.select {
  width: 100%;
  .wrapper;

  .select__wrapper {
    color: @text-color;
    text-transform: uppercase;
    padding: 0;
  }

  .select__title-big {
    font-size: @font-size--h1;
    text-transform: none;
    font-weight: 400;
    margin: 25px 20px;
  }

  .select__description {
    font-size: 14px;
    line-height: 18px;
    margin: 35px 30px 10px 20px;
  }

  .select__first {
    border: none;
    padding: 0;
    margin: 15px 20px 0;
  }

  .select__other,
  .select__last {
    border: none;
    border-top: 3px solid @color-main;
    margin: 0;
  }

  .select__other {
    padding-bottom: 5px;
  }

  .select__last {
    padding: 0 5px;
  }

  .select__title {
    display: inline-block;
    font-size: @font-size--h2;
    font-weight: 400;
    text-transform: none;
    background-color: #ffffff;
    width: 240px;
    padding-right: 20px;
    padding-left: 30px;
    margin-left: -20px;
  }

  .select__last .select__title {
    width: 200px;
    margin: 10px 10px 30px -10px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  .select__other ul {
    margin: 0;
  }

  .select__first li,
  .select__other li {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
  }

  .select__other li {
    padding: 7px;
  }

  label {
    flex-shrink: 0;
    padding: 15px 15px 10px 0;
  }

  .user {
    border: 1px solid @color-grey-line;
    outline: none;
    padding: 15px 10px 10px 15px;
    width: 100%;
  }

  .user:hover {
    border: 1px solid #bababa;
  }

  .user:focus,
  .user:active {
    border: 1px solid #2e2e2e;
  }

  .user:active:invalid {
    border: 1px solid #ff8282;
  }

  input::placeholder {
    color: @text-color;
    font-family: @font-family;
    text-transform: uppercase;
  }

  .select__other svg {
    margin-top: 16px;
    margin-left: -35px;
  }

  .select__other svg:active {
    fill: #68b738;
  }

  .select__other svg:invalid {
    fill: #ff8282;
  }

  .select__programm {
    border: 1px solid @color-grey-line;
    padding: 0;
    margin: 0;
  }

  .select__programm ul {
    flex-direction: column;
    justify-content: space-around;
  }

  .select__programm li {
    padding: 10px 10px 15px 10px;
  }

  .select__last li {
    padding: 10px 10px 15px 15px;
  }

  .select__last ul {
    margin: 0;
  }

  .select__radio,
  .select__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 2px 0 0 0;
  }

  .select__radio + label,
  .select__checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
  }

  .select__checkbox + label {
    padding-left: 45px;
  }

  .select__radio + label::before {//белый кружок-радио выбор
    content: "";
    position: absolute;
    left: 12px;
    top: -4px;
    width: 30px;
    height: 30px;
    border: 1px solid @color-grey-line;
    background-color: #ffffff;
    border-radius: 50%;
  }

  .select__radio + label::after {//зеленая точка-радио выбор
    content: "";
    position: absolute;
    top: 6px;
    left: 22px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
  }

  .select__radio:checked + label::after {
    background-color: @color-main;
  }

  .select__radio + label:hover::after {
    background-color: @color-main;
  }

  .select__radio + label:hover::before {
    border: 1px solid #bababa;
  }

  .select__other textarea {
    box-sizing: border-box;
    font-family: @font-family;
    text-transform: uppercase;
    height: 150px;
    width: 100%;
    padding: 15px;
    margin: 2px 10px 10px;
    border: 1px solid @color-grey-line;
  }

  .select__other textarea:hover {
    border: 1px solid #bababa;
  }

  .select__checkbox + label::before { //серый кубик для чекбокса
    content: "";
    position: absolute;
    left: 1px;
    top: -4px;
    width: 30px;
    height: 30px;
    border: 1px solid @color-grey-line;
    background-color: #ffffff;
  }

  .select__checkbox + label::after {//основа для зеленой галочки в чекбоксе
    content: "";
    position: absolute;
    top: -3px;
    left: 12px;
    width: 12px;
    height: 20px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .select__checkbox:checked + label::after {//зеленая галочка в чекбоксе
    border: solid @color-main;
    border-width: 0 2px 2px 0;
  }

  .select__checkbox + label:hover::before {
    border: 1px solid #bababa;
  }

  .select__programm li:disabled,
  .select__last li:disabled {
    opacity: 0.4;
  }


  .select__button {
    color: #ffffff;
    font-family: @font-family;
    border: none;
    margin: 20px 20px 10px;
  }

  .select__legend {
    display: block;
    font-family: @font-family-text;
    text-transform: none;
    margin: 10px 80px 40px;
  }
}

@media (min-width: @tablet-width) {//////////////////////////////////////////////////////////
  .select {
    width: 100%;
    .wrapper;

    .select__wrapper {
      font-size: 20px;
      padding: 0 30px;
    }

    .select__title-big {
      font-size: @font-size--t-d-h1;
      margin: 35px 0;
    }

    .select__description {
      font-size: 20px;
      line-height: 30px;
      width: 350px;
      margin: 50px 40px;
    }

    .select__first {
      margin: 0 40px;
    }

    .select__programm {
      margin: 30px 40px 40px 40px;
    }

    .select__first ul {
      margin-top: 5px;
    }

    .select__first li {
      padding: 10px 0;
    }

    .select__other,
    .select__last {
      width: 768px;
      margin-left: -30px;
      padding-left: 30px;
    }

    .select__other--mod {
      margin-top: 7px;
    }

    .select__title {
      font-size: @font-size--h1;
      padding-left: 40px;
      margin-left: 0;
    }

    .select__other ul {
      margin: 25px 35px 20px 25px;
    }

    .select__other li {
      padding: 8px 15px;
    }

    .select__other textarea {
      height: 175px;
      width: 650px;
      margin: 35px 35px;
    }

    .user {
      border: 1px solid @color-grey-line;
      padding: 15px 10px 15px 20px;
    }

    .select__programm li {
      padding: 16px;
    }

    .select__radio + label::before {
      content: "";
      position: absolute;
      left: 12px;
      top: -4px;
      width: 45px;
      height: 45px;
    }

    .select__radio + label::after {
      content: "";
      position: absolute;
      top: 11px;
      left: 27px;
      width: 15px;
      height: 15px;
      background-color: #ffffff;
      border-radius: 50%;
    }

    .select__programm label {
      padding-left: 70px;
    }

    .select__other .select__title {
      width: 580px;
    }

    .select__other .select__title--mod {
      width: 270px;
    }

    .select__last .select__title {
      width: 270px;
      margin: 20px 0 15px 0;
    }

    .select__last ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 35px 40px 10px 40px;
    }

    .select__last li {
      width: 310px;
      padding-left: 0;
      padding-right: 15px;
      margin-bottom: 25px;
    }

    .select__checkbox + label::before {
      left: 1px;
      top: -4px;
      width: 40px;
      height: 40px;
    }

    .select__checkbox + label::after {//основа для зеленой галочки в чекбоксе
      top: 2px;
      left: 15px;
      width: 13px;
      height: 22px;
    }

    .select__checkbox + label {
      padding: 0 0 0 60px;
    }

    .select__button-block {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 60px;
    }

    .select__button {
      font-size: 20px;
      height: 50px;
      margin: 15px 40px;
    }

    .select__legend {
      display: block;
      width: 300px;
      margin: 10px;
      margin-top: 30px;
      margin-left: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .select {
    width: 100%;
    .wrapper;

    .select__wrapper {
      font-size: 20px;
      padding: 0;
    }

    .select__title-big {
      margin: 90px 40px 50px;
    }

    .select__description {
      font-size: 20px;
      line-height: 30px;
      width: 350px;
      margin: 50px 40px;
    }

    .select__desktop-block {
      display: flex;
    }

    .select__first {
      width: 50%;
      margin: 0 40px;
    }

    .select__programm {
      width: 50%;
      margin: 13px 40px 30px 40px;
    }

    .select__other,
    .select__last {
      width: 1300px;
      margin-top: 0;
      padding-top: 0;
      margin-left: 0;
      padding-left: 0;
      padding-bottom: 10px;
    }

    .select__title {
      margin: 20px 0 20px 0;
      padding: 10px 0 20px 35px;
    }

    .select__title--mod {
      margin: 15px 0 20px 0;
      padding: 0 0 15px 35px;
    }

    .select__last .select__title {
      width: 270px;
      margin: 25px 0 25px 0;
      padding: 5px 0 25px 35px;
    }

    .select__other textarea {
      width: 1220px;
      margin: 45px 25px 20px 35px;
    }

    .select__other ul {
      display: flex;
      margin: 25px 0;
    }

    .select__other li {
      width: 50%;
      margin: 0 20px;
    }

    .user {
      padding-right: 20px;
    }

    .select-last {
      margin-top: 0;
    }

    .select__last ul {
      padding: 5px 10px 10px 35px;
    }

    .select__last li {
      width: 270px;
    }

    .select__button {
      width: 570px;
      height: 50px;
    }

    .select__legend {
      width: 570px;
      margin-top: 20px;
      margin-left: 40px;
    }

    .select__button-block {
      margin-bottom: 70px;
    }
  }
}
