.site-list {
  list-style: none;

  li {
    padding: 20px 0 25px;
    text-align: center;
    border-top: 1px solid  @color-grey-line;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 555px;

    li {
      width: 185px;
      font-size: 18px;
      text-align: end;
      padding: 42px 0 0 0;
    }

    .site-list__item--active a {
      border-bottom: 2px solid  @color-main;
      padding-bottom: 9px;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 100%;
  }
}
