.social {
  .social__list {
    color: @text-color-grey;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .social__item {
    margin: 20px;
    fill: #4d4d4d;
  }

  .social__link--vkontakte,
  .social__link--instagram,
  .social__link--facebook {
    //fill: #4d4d4d;
  }
}
